<!DOCTYPE html>
<html lang="ko" th:insert="~{base::layout('회원 가입 양식','form',~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 양식</title>
</head>
<body>
<div>
    <main>
        <hr/>
        <form method="post" th:action="@{/member/register}">
            <input aria-describedby="addon-wrapping" aria-label="Username" class="form-control" name="username"
                   placeholder="이름을 입력 하세요" type="text">
            <br/>
            <input aria-describedby="addon-wrapping" aria-label="Email" class="form-control" name="email"
                   placeholder="이메일을 입력 하세요" type="text">
            <br/>
            <button class="btn btn-primary" style="width: 8rem" type="submit">회원 가입</button>
        </form>
    </main>
</div>
</body>
</html>
